---

- name: Ensure docker-registry-proxy paths exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ docker_registry_proxy_uid }}"
    group: "{{ docker_registry_proxy_gid }}"
  with_items:
    - "{{ docker_registry_proxy_base_path }}"

- name: Ensure docker_registry_proxy support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ docker_registry_proxy_base_path }}/{{ item }}"
    mode: "0640"
    owner: "{{ docker_registry_proxy_uid }}"
    group: "{{ docker_registry_proxy_gid }}"
  with_items:
    - labels
    - env

- name: Ensure docker-registry-proxy container image is pulled
  community.docker.docker_image:
    name: "{{ docker_registry_proxy_container_image }}"
    source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
    force_source: "{{ docker_registry_proxy_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
    force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else docker_registry_proxy_container_image_force_pull }}"

- name: Ensure docker-registry-proxy container network is created
  community.general.docker_network:
    name: "{{ docker_registry_proxy_container_network }}"
    driver: bridge

- name: Ensure docker-registry-proxy systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/docker-registry-proxy.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ docker_registry_proxy_identifier }}.service"
    mode: "0644"
